@font-face {
    font-family: 'OpenSansConsidered';
    src: url('resources/fonts/OpenSansCondensed.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSansConsidered';
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    background-color: black;
}

main {
    position: absolute;
    z-index: 0;
    color: #ffffff;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#title h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

#title a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffffaa;
    font-size: 30px;
}

#title a:hover {
    color: #ffffffff;
}

#filler {
    height: 500vh;
}

.container {
    width: 100%;
}

#abouts {
    width: 50%;
    margin: 0 20% 10% 20%;
    padding: 0 5% 5% 5%;
    background-color: #000000cc;
}

#aboutsContent {
    display: flex;
    justify-content: center;
}

#abouts p, #abouts ul {
    font-size: 30px;
    margin-bottom: 10px;
}

#abouts ul {
    list-style-type: square;
}

#abouts li {
    margin-left: 30px;
}

#abouts h2 {
    font-family: 'OpenSansConsidered';
    font-size: 60px;
}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
}

#projects h2 {
    padding-left: 20%;
    font-size: 60px;
}

.project {
    display: flex;
    justify-content: center;
    width: 80%;
    border-bottom: white 3px solid;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    color: black;
    background-color: white;
    font-family: 'OpenSansConsidered', sans-serif;
}

.project h3 {
    font-size: 40px;
    font-style: normal;
}

.project .lang {
    font-size: 30px;
    font-style: normal;
    color: #3e8d70;
}

.project p {
    font-style: normal;
}

.project a {
    font-style: normal;
}

.projGrid {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-aspect-ratio: 4/3) {
    .projGrid {
        display: grid;
        grid-template-rows: 60px 0 auto auto;
        grid-template-columns: 100%;
    }
}

.projImg img {
    width: 100%;
    padding-bottom: 10px;
}

.projDescription {
    font-size: 30px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.projDescription p {
    padding-bottom: 15px;
}

.projDescription a {
    color: #013220;
    text-decoration: none;
}

.projDescription a:hover {
    color:rgb(27, 167, 27);
}

#contacts {
    width: 100%;
    height: 100vh;
}

#contacts .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts h2 {
    font-size: 60px;
}

#contacts p {
    font-size: 30px;
}

#contacts a {
    text-decoration: none;
    color: #54b893aa;
}

#contacts a:hover {
    text-decoration: none;
    color: #54b893;
}

#contactsContent {
    padding: 1% 5%;
    background-color: #000000cc;
    border: white solid 2px;
}